<!DOCTYPE html>
<html>
<%- include('partials/head'); %>
<body>
<%- include('partials/nav'); %>
<h1>About <%= title %> Co.</h1>
<p>
    Bigos Co. is a premier producer of authentic Polish-style <strong>Bigos</strong>, a traditional hunter’s stew made
    from high-quality meats, sauerkraut, and fresh vegetables.
    With a dedication to time-honored recipes and natural ingredients, we offer a rich, hearty dish that brings the
    flavors of Poland to your table.
    Whether for family gatherings or cozy dinners, our Bigos is slow-cooked to perfection, delivering a savory,
    satisfying experience in every bite.
    At Bigos Co., we are passionate about preserving cultural heritage while providing a convenient, delicious meal
    that’s ready to enjoy at home or on the go.
    Taste tradition with Bigos Co.
</p>

<%- include('partials/slider') %>

<%- include('partials/footer'); %>

</body>
</html>